---
import '@fontsource/roboto';
import PokeList from "../components/PokeList";
import PikachuSpecial from '../components/PikachuSpecial';
export const seo={
  title: "Poke World",
  description: "Discover Pokemons in PokeWrold with our custome Pokemon List.",
  keywords: "Pokemon, Pokemon List, Pokemon World, PokeAPI, Poke World, Pikachu",
}


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="FgjrjpS7PpAloaJzS_3edjVNH-ugmkQlth0ycr1hxqo" />
		<meta name="ahrefs-site-verification" content="e469cc4ab9e3029611b8cadbd08a58d839cec3f194d7b4484f17d3b9110c9af6">
		<title>{seo.title}</title>
		<meta name="description" content={seo.description} />
		<meta name="keywords" content={seo.keywords} />

	</head>

	<body  class="bg-gray-800">

		<div class="absolute top-10 right-10">

		</div>
		
		
		<img class="w-1/3 m-auto" src="/pokeWorldTitle.png" alt="pokemon title Card">
		<div class="flex items-center justify-center gap-3 my-6">

			<PikachuSpecial width="w-10" />
			<div class=" text-slate-100 text-xl font-bold">
	
				<p  >Hello Fans, have a look at these amazing pokemons.
					
				</p>
				<p>
					You can search your favourite too.<p>
			</div>
		</div>
		<PokeList client:load />
	</body>
</html>
