---
import '@fontsource/roboto';
import PokeList from "../components/PokeList";
export const seo={
  title: "Poke World",
  description: "Discover Pokemons in PokeWrold with our custome Pokemon List.",
  keywords: "Pokemon, Pokemon List, Pokemon World, PokeAPI, Poke World, Pikachu",
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{seo.title}</title>
		<meta name="description" content={seo.description} />
		<meta name="keywords" content={seo.keywords} />

	</head>

	<body >
		
		<img class="w-2/4 m-auto" src="/pokeWorldTitle.png" alt="pokemon title Card">
		<PokeList client:load />
		<h1 class="text-center my-5 font-bold">Developed by Dipesh Dulal</h1>
	</body>
</html>
