.wrapp {
    transform-style: preserve-3d;
    transform: perspective(100rem);
  }
  
  .content {
    --rX: 0deg;
    --rY: 0deg;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: transform 0.2s;
  }
  